@model Category
@{
	ViewData["Title"] = "Insert";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
	<div class="">
		<div class="row">
			<div class="col-md-12 col-sm-12 ">
				<div class="x_panel">
					<div class="x_title">
						<h2>Kategori Düzenle</h2>

						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<form enctype="multipart/form-data" asp-controller="AdminCategory" asp-action="Edit" method="post" data-parsley-validate class="form-horizontal form-label-left">
							<input type="hidden" asp-for="@Model.ID"/>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Title">
									Kategori Adı:
								</label>
								<div class="col-md-6 col-sm-6 ">
									<input asp-for="@Model.Title" class="form-control">
									<span asp-validation-for="@Model.Title"></span>
								</div>
							</div>
					
							<div class="item form-group">
								<div class="col-md-6 col-sm-6 offset-md-3">
									<a class="btn btn-primary" asp-controller="AdminCategory" asp-action="Category" asp-area="admin">İptal Et</a>
									<button class="btn btn-primary" type="reset">Temizle</button>
									<button type="submit" class="btn btn-success">Kategori Düzenle</button>
								</div>
							</div>
							@Html.AntiForgeryToken()
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

