@model CartViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}
<link href="~/divisima/css/style.css" rel="stylesheet" />



<!-- Page info -->
<div class="page-top-info">
	<div class="container">
		<h4>Sepetim</h4>
		<div class="site-pagination">
			<a href="/">Ana Sayfa</a> /
		</div>
	</div>
</div>
<!-- Page info end -->
<!-- cart section end -->

<section class="cart-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="cart-table">
					<h3>Sepetimdeki Ürünler</h3>
					<div class="cart-table-warp">
						<table>
							<thead>
								<tr>
									<th class="product-th">Ürün</th>
									<th class="quy-th">Miktar</th>
									<th></th>
									<th class="total-th">Fiyat</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var c in Model.Carts)
								{
									<tr>
										<td class="product-col">
											<img src="@c.Image" alt="@c.ProductName">
											<div class="pc-title">
												<h4>@c.ProductName</h4>
												<p><h4>@c.ProductPrice.ToString("C")</h4></p>
											</div>
										</td>
										<td class="quy-col">
											<div class="quantity">
												<div class="pro-qty">
													<input id="prqty" type="text" value="@c.Quantity">
													<input id="ProductPrice" type="hidden" value="@c.ProductPrice">
													<input id="ProductId" type="hidden" value="@c.ProductID">

												</div>
											</div>
										</td>
										<td><button onclick="removecart(@c.ProductID)" class="btn btn-danger">Sil</button></td>
										<td id="Calculate" class="total-col"><h4>
											@c.Total
										</h4></td>
										
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="total-cost">
						<h6>Total <span id="totalCartSpan">@Model.Carts.Sum(x=>x.Quantity*x.ProductPrice).ToString("C")</span></h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 card-right">
				<a asp-controller="Cart" asp-action="CheckOut" class="site-btn">Alışverişi Tamamla</a>
				<a href="/" class="site-btn sb-dark">Alışverişe Devam</a>
			</div>
		</div>
	</div>
</section>
<!-- cart section end -->
<!-- Related product section -->
<section class="related-product-section">
	<div class="container">
		<div class="section-title text-uppercase">
			<h2>En Çok Satan Ürünler</h2>
		</div>
		<div class="row">
			@foreach (Product p in Model.BestSelling)
			{
				<div class="col-lg-3 col-sm-6">

					<partial name="_Product" model="@p" />
				</div>
			}

		</div>
	</div>
</section>
<!-- Related product section end -->
<script src="~/divisima/js/jquery.slicknav.min.js"></script>
<script src="~/divisima/js/mainn.js"></script>
